@page "/AddGoal"
@using maui.Components.Layout
@layout LayoutWithoutNav
<h3>Add Goal</h3>



<p>Goal:</p>
<input type="text" id="goal" placeholder="E.g. 2000" />
<br/>
<p>Date:</p>
<input type="date" id="date" placeholder="DD/MM/YYYY" />

<a href="/StepGoals" type="submit">Add goal</a> 

