@page "/AddStepgoal"
@using maui.components.ViewModels

@inject StepgoalViewModel ViewModel  
<h3>Add Stepgoal</h3>

<form @onsubmit="ViewModel.CreateStepgoal">
    <div class="form-group">
        <label for="goal">Goal:</label>
        <input @bind="ViewModel.Goal"  id="goal" type="number" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Add Stepgoal</button>
</form>

@if (ViewModel?.IsSuccessful == true)
{
    <div class="alert alert-success">Stepgoal created successfully!</div>
}