@page "/blogs"
@inject BlogViewModel ViewModel

<h1>Blogs</h1>

@if (ViewModel.Blogs.Any())
{
    <ul>
        @foreach (var blog in ViewModel.Blogs)
        {
            <li>
                <h3>@blog.Title</h3>
                @*<p>@blog.Content</p>*@
            </li>
        }
    </ul>
}
else
{
    <p>No blogs found.</p>
}
