@page "/Blogs"
<h3>Blogs</h3>

<h3>Blog 1</h3>
<a><img alt="share" src="./NewFolder1/share.png" /></a>
<h3>blog 2</h3>
<a><img alt="share" src="./NewFolder1/share.png" /></a>
<h3>Blog 3</h3>
<a><img alt="share" src="./NewFolder1/share.png" /></a>
<h3>Blog 4</h3>
<a><img alt="share" src="./NewFolder1/share.png" /></a>
<h3>blog 5</h3>
<a><img alt="share" src="./NewFolder1/share.png" /></a>