@page "/blogs"
@using maui.components.ViewModels
@using maui.Components.Models
@inject BlogViewModel ViewModel
@inject NavigationManager Navigation



<h1>Blogs</h1>

@if (ViewModel.Blogs.Any())
{
    <button><a href="/home">Back</a></button>
    <ul>
        @foreach (var blog in ViewModel.Blogs)
        {
            <h3><a href="@($"blog/{blog.Id}")" style="text-decoration:none;" @onclick="() => NavigateToDetail(blog.Id)">@blog.Title</a></h3>
            <div>
                <a href="mailto:?subject=Check out this blog post!&body=I thought you might be interested in this blog post: %0A@($"http://localhost:5041/blog/{blog.Id}").">
                    <img alt="share" style="width:50px; height: 50px;" src="./Icons/share.png"/>
                </a>
            </div>    
        }
    </ul>
}
else
{
    <p>Loading blogs...</p>
}

@code {
    private void NavigateToDetail(int blogId)
    {
        Navigation.NavigateTo($"blog/{blogId}");
    }

    protected override async Task OnInitializedAsync()
    {
        await ViewModel.LoadBlogs(); // Call LoadBlogs asynchronously
    }
}