@page "/Blogs"
<b><h3 style="text-align:center; margin-top: 2%;">Blogs</h3></b>

@*todo: open share dialog when clicking on the share icon*@
<h3><a href="/blog" style="text-decoration:none;">blog 1</a></h3>
<a><img alt="share" src="./Icons/share.png" style="width:30px; height: 30px;" /></a>
<h3><a href="/blog" style="text-decoration:none;">blog 2</a></h3>
<a><img alt="share" src="./Icons/share.png" style="width:30px; height: 30px;"/></a>
<h3><a href="/blog" style="text-decoration:none;">blog 3</a></h3>
<a><img alt="share" src="./Icons/share.png" style="width:30px; height: 30px;"/></a>
<h3><a href="/blog" style="text-decoration:none;">blog 4</a></h3>
<a><img alt="share" src="./Icons/share.png" style="width:30px; height: 30px;"/></a>
<h3><a href="/blog" style="text-decoration:none;">blog 5</a></h3>
<a><img alt="share" src="./Icons/share.png" style="width:30px; height: 30px;"/></a>