@page "/blog/{id}"
@using maui.components.ViewModels
@inject BlogViewModel ViewModel
@inject NavigationManager Navigation

@if (ViewModel.SelectedBlog == null)
{
    <p>Loading blog details...</p>
}
else
{
    <h1>@ViewModel.SelectedBlog.Title</h1>
    <p>@ViewModel.SelectedBlog.Content</p>
}

@code {
    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrWhiteSpace(Id))
        {
            ViewModel.SelectedBlog = await ViewModel.GetBlogByIdAsync(int.Parse(Id));
            StateHasChanged();
        }
        else
        {
            Navigation.NavigateTo("/blogs");
        }
    }
}