@page "/blog/{id}"
@using maui.components.ViewModels
@inject BlogViewModel ViewModel
@inject NavigationManager Navigation

<h1>Blog Detail Page</h1>

<p>Blog ID: @Id</p>

@if (ViewModel.SelectedBlog == null)
{
    <p>Loading blog details...</p>
}
else
{
    <h2>Title: @ViewModel.SelectedBlog.Title</h2>
    <p>Content: @ViewModel.SelectedBlog.Content</p>
}

@code {
    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrWhiteSpace(Id))
        {
            ViewModel.SelectedBlog = await ViewModel.GetBlogByIdAsync(int.Parse(Id));
            StateHasChanged();
        }
        else
        {
            Navigation.NavigateTo("/blogs");
        }
    }
}
