@page "/blogs"
@using maui.components.ViewModels
@using maui.Components.Models
@inject BlogViewModel ViewModel
@inject NavigationManager Navigation

<h1>Blogs</h1>

@if (ViewModel.Blogs.Any())
{
    <ul>
        @foreach (var blog in ViewModel.Blogs)
        {
            
            <h3><a href="@($"blog/{blog.Id}")" style="text-decoration:none;" @onclick="() => NavigateToDetail(blog.Id)">@blog.Title</a></h3>

            <img alt="share" style="width:50px; height: 50px;" src="./Icons/share.png"/>
                @*<p>@blog.Content</p>*@
            
        }
    </ul>
}
else
{
    <p>No blogs found.</p>
}

@code {
    private void NavigateToDetail(int blogId)
    {
        Navigation.NavigateTo($"blog/{blogId}");
    }


    
}