@page "/login"
<h3>Login</h3>



<label for="email" name="email">Email</label>
<input type="text" id="email" placeholder="email" />
<br />
<label for="password" name="password">Password</label>
<input type="password" id="password" placeholder="password" />

<p>No account? Register <u><a href="/register">here</a></u></p>
@* todo: fix here link *@

<input href="#" type="submit" value="Login" name="loginBtn" />
@* add link in this button *@
