@page "/Register"
@using maui.Components.Layout
@layout LayoutWithoutNav
<h3>Register</h3>



<label for="email" name="email">Email</label>
<input type="text" id="email" placeholder="email" />
<br />
<label for="password" name="password">Password</label>
<input type="password" id="password" placeholder="password" />
<br />
<label for="username" name="username">Username</label>
<input type="text" id="username" placeholder="username" />



<a href="/home" type="submit" value="Login" >Register</a> 
@* add link in this button *@