@page "/Register"
<h3>Register</h3>



<label for="email" name="email">Email</label>
<input type="text" id="email" placeholder="email" />
<br />
<label for="password" name="password">Password</label>
<input type="password" id="password" placeholder="password" />
<br />
<label for="username" name="username">Username</label>
<input type="text" id="username" placeholder="username" />



<input href="#" type="submit" value="Login" name="loginBtn" />
@* add link in this button *@