@page "/Roads"
<h3>Routes</h3>
<button><a href="/home">Back</a></button><br/>
@* refer here to existing routes via websites. no routes in db,in apibut no idea how and why
*@
<a style="text-decoration: none" href="https://wandelgidszuidlimburg.com/wp/0001-2/">Wandelroute Reijmerstok,Akkers,weilanden en bossen,8.9km. </a><br/>
<a style="text-decoration: none" href="https://www.friesland.nl/nl/routes/1999767826/wandelroute-11fountains-sloten">Wandelroute Friesland,Geveltjes,grachten en stenen,1.4km</a><br/>
<a style="text-decoration: none"  href="https://www.natuurmonumenten.nl/natuurgebieden/nationaal-park-veluwezoom/route/wandelroute-priesnitzhoeve-sprengen-laag-soeren">Wandelroute Veluwezoom,monumenten,rustpunt en bos,7.5km</a><br/>
<a style="text-decoration: none" href="https://beleefroutes.nl/route/wandelroute-langs-kunst-duinen-bello/">Wandelroute Doetichem,kunst en duinen,6km</a><br/>
<a style="text-decoration: none" href="https://www.komoot.com/nl-nl/smarttour/4266243">Wandelroute Krimpen aan den Ijssel,recreatiepunt,meer,uitzicht,10.6km</a><br/>