@page "/StepGoals"
<h3>Stepgoals</h3>
<a href="/AddGoal" style="text-decoration:none;">
    <img alt="add" src="./Icons/add.png" style="width:50px; height: 50px; float: right; margin-right:10%;"/>
</a>
<a href="/ChangeGoal">
    <img alt="delete" src="./Icons/cross.png" style="width:30px; height:30px;" />
</a>
<hr style="color:black; height:3px; width:80%; margin-left:10%;" />


<p>Goal: 3000 steps</p>
<a href="/AddGoal" style="text-decoration:none;">
    <img alt="edit" src="./Icons/edit.png" style="width:40px; height: 40px; float: right; margin-right:10%;"/>
</a>
<a href="/ChangeGoal">
    <img alt="delete" src="./Icons/cross.png" style="width:30px; height:30px;" />
</a>
<p>Goal: 3000 steps</p>
<a href="/AddGoal" style="text-decoration:none;">
    <img alt="edit" src="./Icons/edit.png" style="width:40px; height: 40px; float: right; margin-right:10%;"/>
</a>
<a href="/ChangeGoal">
    <img alt="delete" src="./Icons/cross.png" style="width:30px; height:30px;" />
</a>
<p>Goal: 3000 steps</p>
<a href="/AddGoal" style="text-decoration:none;">
    <img alt="edit" src="./Icons/edit.png" style="width:40px; height: 40px; float: right; margin-right:10%;"/>
</a>
<a href="/ChangeGoal">
    <img alt="delete" src="./Icons/cross.png" style="width:30px; height:30px;" />
</a>
<p>Goal: 3000 steps</p>
<a href="/AddGoal" style="text-decoration:none;">
    <img alt="edit" src="./Icons/edit.png" style="width:40px; height: 40px; float: right; margin-right:10%;"/>
</a>
<a href="/ChangeGoal">
    <img alt="delete" src="./Icons/cross.png" style="width:30px; height:30px;" />
</a>
<p>Goal: 3000 steps</p>
<a href="/AddGoal" style="text-decoration:none;">
    <img alt="edit" src="./Icons/edit.png" style="width:40px; height: 40px; float: right; margin-right:10%;"/>
</a>
<a href="/ChangeGoal">
    <img alt="delete" src="./Icons/cross.png" style="width:30px; height:30px;" />
</a>
