@page "/StepGoals"
<h3>StepGoals</h3>

<img alt="add" src="./NewFolder1/add.png" />
<hr style="color:black; height:3px; width:80%; margin-left:20%;" />
<p>Goal: 3000 stappen</p>
<img alt="edit" src="./NewFolder1/edit.png" style="width:30px; height:30px;"/>
<img alt="delete" src="./NewFolder1/cross.png" style="width:30px; height:30px;" />
<p>Goal: 3000 stappen</p>
<img alt="edit" src="./NewFolder1/edit.png" style="width:30px; height:30px;" />
<img alt="delete" src="./NewFolder1/cross.png" style="width:30px; height:30px;" />
<p>Goal: 3000 stappen</p>
<img alt="edit" src="./NewFolder1/edit.png" style="width:30px; height:30px;" />
<img alt="delete" src="./NewFolder1/cross.png" style="width:30px; height:30px;" />
<p>Goal: 3000 stappen</p>
<img alt="edit" src="./NewFolder1/edit.png" style="width:30px; height:30px;" />
<img alt="delete" src="./NewFolder1/cross.png" style="width:30px; height:30px;" />
<p>Goal: 3000 stappen</p>
<img alt="edit" src="./NewFolder1/edit.png" style="width:30px; height:30px;" />
<img alt="delete" src="./NewFolder1/cross.png" style="width:30px; height:30px;" />
