@inherits LayoutComponentBase
@*todo: fix navbar visibility*@
<div class="page">
    
    <main>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>