<div class="top-row ps-3 navbar navbar-dark " style="background-color:#061D8E;">
    <div class="container-fluid">
        <a class="navbar-brand  fw-bold" style="color:#BED302;" href="">StepCounter</a>
    </div>
</div>
<style>
    .navbar-toggler:focus {
        outline: none !important;
        border:none !important;
        box-shadow:none;
    }

    .nav-link:focus{
        /*
        background-color:none !important;
        */
    }

    .navbar-toggler{
        background-image:none;
    }

</style>
<input type="checkbox" title="Navigation menu" class="navbar-toggler" style="border:none !important; " />

<div style="background-color:#6474C5;" class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column" style="background-color:#6474C5;">
        <div class="nav-item px-3">
            <NavLink class="nav-link" style="color:#BED302" href="/home" Match="NavLinkMatch.All">
                <i class="bi bi-map" aria-hidden="true" ></i> Home
            </NavLink>
        </div>
        <hr style="margin-left:10%; margin-top:0;margin-bottom:0;color:white; width:80%; height:3px; border:none;" />
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" style="color:#BED302" href="/StepGoals">
                <i class="bi bi-map" aria-hidden="true"></i> StepGoals
            </NavLink>
        </div>*@
        @*<hr style="margin-left:10%;margin-top:0;margin-bottom:0; color:white; width:80%; height:3px; border:none;" />*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" style="color:#BED302" href="/blogs">
                <i class="bi bi-map" aria-hidden="true"></i> Blogs
            </NavLink>
        </div>
        <hr style="margin-left:10%;margin-top:0;margin-bottom:0; color:white; width:80%; height:3px; border:none;" />
        <div class="nav-item px-3">
            <NavLink class="nav-link" style="color:#BED302" href="/Roads">
                <i class="bi bi-map" aria-hidden="true"></i> Routes
            </NavLink>
        </div>
        <hr style="margin-left:10%;margin-top:0;margin-bottom:0; color:white; width:80%; height:3px; border:none;" />
        <div class="nav-item px-3">
            <NavLink class="nav-link" style="color:#BED302" href="/">
                <i class="bi bi-map" aria-hidden="true"></i> <img alt="logout" src="./Icons/lock.png" 
                                                                  style="height:30px; width:30px; mix-blend-mode:multiply;
:"/>
                
            </NavLink>
        </div>
    </nav>
</div>
